
<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Main <%= title %></p>
    <a href="/members/join">회원가입</a><br><br>
    <a href="/members/login">login</a><br>
    <a href="/members/withdraw/:id">탈퇴</a><br>
  </body>
</html>